/* styling navigation */
.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: end;
  align-items: center;
  color: #FFFFFF;
  background-color: #4056A1;
  font-family:'Bungee', cursive;
  font-size: 1em;
  height: 120px;
  width:100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0px;
  bottom: 0px;
};
nav .nav-tweet {
  font-size: 1em;
}
.fancy-arrow {
  color:red;
  text-align: center;
}
img.profile {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%
}
