/* styling for tweet text */
article {
  width: 100%;
  background-color: white;
  border: solid .32em;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: .32em;
  background-image: url('../images/foggy-birds.png');
}

article:hover {
  box-shadow: .32em .32em #4056A1;
  transition-duration: 0.2s;
}

header {
  width: 100%;
}
#tweets-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 1em 0 1em;
  font-size: small;
  border-top: solid .32em;
}

.userid {
  opacity: 50%;
  display: flex;
  justify-content: end;
}

.username {
  display: flex;
  justify-content: start;
  font-weight: lighter;
}

.icons:hover {
  cursor: pointer;
}

.fas:hover {
  opacity: 50%;
  transition-duration: 0.2s;
}

.img {
  padding-right: 0.5em;
}